*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--first-color);
    align-items: center;
    flex-direction: column;
    display: flex;
    

    /* background: linear-gradient(
      55deg,
      rgba(84, 240, 193, 1) 31%,
      rgba(7, 179, 179, 1) 91%
    ); */
}

@media (max-width: 800px) {
    nav {
        margin-left: -50%;
    }
}

h2 {
    text-align: center;
}
.slider{
    margin-top: 50px;
    position: relative;
    height: 600px;
    overflow: hidden;
    display: flex;
    width: 300px;
    margin-bottom: 100px;
}

 .slider .slide{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

 .slider .slide.active{
    opacity: 1;
}

.productos {
    grid-column: 2;
    width: 75%;
    

}

.producto {
    height: 550px;
    width: 300px;
    margin: 20px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px inset rgba(0, 0, 0, 1);
    border-radius: 32px;
    /* background: linear-gradient(
      55deg,
      rgba(84, 240, 193, 1) 31%,
      rgba(7, 179, 179, 1) 91%
    ); */
    background-blend-mode: normal;
    box-shadow: inset 1px 1px 52px 0px rgba(158, 74, 74, 0.3);
  
}

.producto img {
    width: 150px;
    height: 400px;
    margin: 0 auto;
}

 /* .SKATE {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;


}

.RUEDAS {
    display: flex;
    flex-wrap: wrap;
    grid-row: 3;
}

.RODAMIENTOS {
    display: flex;
    flex-wrap: wrap;
    grid-row: 4;

}

.TRUCKS {
        display: flex;
    flex-wrap: wrap;
    grid-row: 5;
    
} */



/* a {
    border: 10px solid black;
} */
.myButton {
    width: 155px;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background-color:#b8e356;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.myButton:hover {
	background-color:#a5cc52;
}
.myButton:active {
	position:relative;
	top:1px;
}

.pay {
    margin-top: 300px;
}





section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}


footer {
    width: 100%
}




.modal-overlay.activo {
    visibility: visible;
    opacity: 1;
  }
  
  
.modal-overlay {

    visibility:hidden;
    opacity: 0;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .modal ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
  }
  
  .modal label {
    margin-bottom: 10px;
  }
  
  .modal input[type="text"],
  .modal input[type="number"],
  .modal input[type="date"],
  .modal input[type="email"],
  .modal input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .modal button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  